html, body {
	padding: 0;
	margin: 0;
	font-family: 'Georgia', sans-serif;
}

.header, .main, .aside, .footer {
	padding: 20px;
}

.content {
	display:  flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	background: lightblue;
	flex-basis: 60px;
}

.main {
	background: slateblue;
	flex-basis:  300px;
	flex-grow: 2;
	flex-shrink: 0;
}

.aside {
	background: darkslateblue;
	flex-basis:  200px;
	flex-grow:  1;
	flex-shrink: 0;
}

.footer {
	background: violet;
	flex-grow: 1;
}



@media screen and (min-width: 700px) {
	.content {
		display: grid;
		grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: repeat(3,  1fr);
	}

	.header {
		grid-column: 1/ span 3;
	}

	.main {
		grid-row: span 4;
		grid-column:  span 2;
	}

	.aside {
		grid-row: span 4;
	}

	.footer {
		grid-row: 6/7;
		grid-column: span 3;
	}
}